# Thanks to: https://gist.github.com/jdbartlett/444295

# Place this .gitignore file into ~/Sites/vagrant-local/www/my-wp-site/htdocs/

# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!README.md
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/es-wp-foundation/

### Sass ###
wp-content/themes/es-wp-foundation/*.css.map
wp-content/themes/es-wp-foundation/.sass-cache/

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace
*.sublime-project

node_modules
.DS_Store
